@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
.skills {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
   font-family: 'Montserrat', sans-serif;
}

.skills-header {
  margin-bottom: 40px;
}

.skills-title {
  font-size: 16px;
   font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #0c0c0c;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.underline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 5px;
}

.underline .line {
  width: 40px;
  height: 2px;
  background-color: #0044cc;
}

.underline .dot {
  width: 8px;
  height: 8px;
  background-color: #0044cc;
  border-radius: 50%;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.skill-card {
  background: #f9f9f9;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card .icon {
  font-size: 30px;
  color: #328;
  margin-bottom: 10px;
}

.skill-card h4 {
  font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
  margin-bottom: 15px;
}

.progress-bar {
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  height: 10px;
  position: relative;
}

.progress {
  background: rgb(22, 7, 99);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  font-weight: bold;
}
