.footer {
  background: transparent;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: rgb(7, 6, 6);
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-links a {
  color: rgb(71, 69, 69);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #614d2e; /* highlight color */
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
